
.underline {
    z-index: -1;
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    top:0;
    height: 100%;
    background: var(--accent);
    
  }

  .form-check-input{
    box-shadow: none !important;
  }

  .details-button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
// @media (min-width: 328px) and (max-width: 449px){
//     .details-button{
//         display: flex;
//         flex-direction: column-reverse;
//         justify-content: start;
//         align-items: start;
//     }
//     button{
//     }

// }

.container-fluid-02{
  ul{
    display: grid;
    gap: 1.5rem;
  }
}

.filter-wrapper{
  transition:all 1s ease;
  // -moz-transition:height 2s; /* Firefox 4 */
  // -webkit-transition:height 2s; /* Safari and Chrome */
  // -o-transition:height 2s; /* Opera */
}

[data-filter-wrapper = 'true']{
  height:100%;
  // margin-top: 200px;
}

[data-filter-wrapper = 'false']{
  height:0px;
}