@import "../../sass/custom.scss";

@mixin dataAdd($color) {
  font-weight: 600;
}

[data-add-btn="true"] {
  @include dataAdd($primary);
}

[data-add-btn="false"] {
  @include dataAdd($grey-500);
}

.mover {
  
}

// ul {
//   font-weight: 600;
//   .selected-button{
//     border-bottom: 4px solid $primary;
//   }
//   li:hover{
//     color:$grey-500;
//   }
// }

// MIN WIDTH 620px
@media (min-width: $sm) {

}

//MAX WIDTH 619px
@media (max-width: 619px) {

  .menu-translate {
    top: 9px;
    right: 15px;
  }
}

[data-main-wrapper = 'false']{
    left:0%;
}

[data-main-wrapper = 'true']{
    left:-100%;
}

// .nav-initial{
//   transition: all .3s ease;
//   top:60px;
// }

// .nav-animate{
//   transition: all .3s ease;
//   top:43px;
// }

.nav-btn-active{
  background-color: #f7d100;
  // padding:0.5rem;
  // border-radius: .3rem;
  // color: #f7d100;
  // padding-left:.5rem;
  // padding-right:.5rem;
}

.nav-text-wrapper{
  position:absolute;
  border-radius: .2rem;
  top:0px;
  left:0px;
  background-color: #f7d100;
  // width:100%;
  height:100%;
  z-index: -1;
  box-shadow: inset 0 0 10px #f8a100;
}
