.section{
    z-index: 0;
    // height: calc(100vh - 150px);
    height:700px;
    margin-top: 77px;
    width:100%;

    .buttons-wrapper{
        
        
        .btn{
            z-index: 2;
            top:50%;
            transform: translate(0%, -50%);
            margin: 1rem;
            padding: 1rem;
        }

        .btn-left{
            left:0%;
        }
        .btn-right{
            right:0%;
        }
    }

    .carusel-mask{
        width:100%;
        height:100%;
        overflow: hidden;
        position: relative;
        
        
        .page-wrapper-anim{
            width:100%;
            height:100%;
            display:flex;
            position: absolute;

            img{
                // object-fit: contain;
                width: 100%;
                min-width:1300px;
                // height: auto;
            }


        }

    }

    // .hero{
    //     // min-width: 1000px;
    //     top:250px;
    // }
}
