
@media (min-width: 960px) {
    .section{
        z-index: 0;
        height:700px;
        margin-top: 77px;
    

        .carusel-mask{
            overflow:hidden;
            .page-wrapper-anim{
    
                article{
                    .yellow-detail{
                        width:60%;
                        top:0px;
                        left:0px;
                        clip-path: polygon(85% 0%, 100% 0%, 100% 100%, 90% 100%);
                    }
                    .article-left{
                        .article-left-wrapper{
                            top: 0px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            z-index: 4;
                            max-width: 1400px;
                            position:absolute;

                            .article-left-left{
                                width:40%;
                                h1{
                                    line-height: 3rem; 
                                }
                                button{
                                    font-weight:400;
                                }
                            }
                            .article-left-right{
                                width:60%;
                            }
                            
                        }
    
                    }
                    .article-right{
                        clip-path: polygon(10% 0%, 100% 0%, 100% 100%, 0% 100%);
                        img{
                            min-width:1300px;
                        }
                    }
                }
            }
        }
    }
}


  
@media (max-width: 959px) {
    .section{
        z-index: 0;
        height:870px;
        // margin-top: 100px;
    
    
        .carusel-mask{
            overflow:hidden;
            .page-wrapper-anim{
                article{
                    .article-left{
                        .article-left-wrapper{
                            top: 0px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            z-index: 4;
                            max-width: 1400px;
                            position:relative;

                            .article-left-left{
                                width:100%;
                                height:100%;
                                p{

                                }
                                h1{
                                    line-height: 2.5rem; 
                                }
                                button{
                                    font-weight:400;
                                }
                            }
                            .article-left-right{
                                width:0%;
                            }
                            
                        }
    
                    }
                    .article-right{
                        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
                        img{
                            min-width:800px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 620px){
    .section{
        z-index: 0;
        height:700px;
        // margin-top: 50px;

    
        .carusel-mask{
            overflow:hidden;
            .page-wrapper-anim{
                article{
                    .article-left{
                        .article-left-wrapper{
                            top: 0px;
                            left: 50%;
                            transform: translate(-50%, 0);
                            z-index: 4;
                            max-width: 1400px;
                            position:relative;

                            .article-left-left{
                                width:100%;
                                height:100%;
                                p{

                                }
                                h1{
                                    line-height: 2rem; 
                                }
                                button{
                                    font-weight:400;
                                }
                            }
                            .article-left-right{
                                width:0%;
                            }
                            
                        }
    
                    }
                    .article-right{
                        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
                        img{
                            min-width:600px;
                        }
                    }
                }
            }
        }
    }
}

[data-slide = 'false']{
    background-color: #fff;
}

[data-slide = 'true']{
    background-color: #f7d100;
}


@media (min-width: 1500px ) {
    .buttons-wrapper{
        .btn{
            z-index: 2;
            top:50%;
            transform: translate(0%, -50%);
        }
        .btn-left{
            left:0%;
        }
        .btn-right{
            right:0%;
        }   
    }
}

@media (max-width: 1500px ) {
    .buttons-wrapper{
        display: none;
        .btn{
            z-index: 2;
            top:50%;
            transform: translate(0%, -50%);
        }
        .btn-left{
            left:0%;
        }
        .btn-right{
            right:0%;
        } 
    } 
}

.swipe{
    z-index: 4;
    background-color: rgba(255,255,255,.7);
   top:0%;
   left:50%;
   transform: translate(-50%, -50%); 
}

