@import '../../sass/variables.scss';

@mixin dataAdd($color){
    font-weight: 600;
    // background-color: $color;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: .3rem;
    transition:all .5s ease;   
}

// [data-add-btn="true"]{
//     @include dataAdd($primary);
// }

[data-add-btn="false"]{
    @include dataAdd($grey-900);
}

.mover{
    background-color: $primary;
    border-radius: .3rem;
}

ul{
    li{
       display: flex;
       justify-content: space-between; 
       align-items: center;
       gap: .5rem;
    }
}
