// @import "../../sass/custom.scss";

@media (min-width: 620px) {
    .logo-header{
        width:140px;
        padding-top: 10px;
        padding-bottom: 8px;
        // margin-bottom: ;
        
    }

    // .initial{
    //   transition: all .25s ease;
    //   top:0px;
    // }

    // .animate{
    //   transition: all .25s ease;
    //   top:-10px;
    // }

  }
  
  @media (max-width: 620px) {
    .logo-header{
        width:120px;
        padding-top: 6px;
        padding-bottom: 5px;
    }
  }
  