circle
{   
// stroke-width: 30px;
//   stroke-linecap: round;
  fill: transparent;
//   filter: drop-shadow(6px 6px 10px rgb(0 0 0 / 0.4));
}


@media (min-width: 620px) {
    .yellow-part{
        height: 130px;
    }

    .number-icon{
        top: 30px;
        left: 30px;
        // transform: translate(-50%, 0),
    }


}
  
@media (max-width: 619px) {
    .yellow-part{
        height: 60px;   
    }

    .number-icon{
        top: 20px;
        left: 20px;
        // transform: translate(-50%, 0),
    }

}